.testimonial-with-image-desktop {
    background-color: #2545B8;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.testimonial-with-image-desktop > .crop {
    width: 384px;
    height: 464px;
    overflow: hidden;
    border-radius: 12px;
}

.testimonial-with-image-desktop > .crop > img {
    width: 400px;
    height: auto;
    margin: -75px 0px 0px 0px;
}

.testimonial-with-image-desktop > .info {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 24px;
}

.testimonial-with-image-desktop > .info > img {
    width: 48px;
    height: 48px;
}

.testimonial-with-image-desktop > .info > h1 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.5rem;
    color: #FFFFFF;
    line-height: 32px;
}

.testimonial-with-image-desktop > .info > .person-info > h2 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    margin: 0px;
}

.testimonial-with-image-desktop > .info > .person-info > p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    margin: 0px;
}

.testimonial-with-image-desktop > .info > .person-info {
    display: flex;
    flex-direction: column;
}

/* MOBILE STYLING */

.testimonial-with-image-mobile {
    background-color: #2545B8;
    width: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 64px;
}

.testimonial-with-image-mobile > .block {
    background-color: white;
    width: 376px;
    height: 103px;
}

.testimonial-with-image-mobile > .crop {
    width: 344px;
    height: 206px;
    overflow: hidden;
    border-radius: 12px;
    margin-top: -103px;
}

.testimonial-with-image-mobile > .crop > img {
    width: 344px;
    height: auto;
    margin-top: -100px;
}

.testimonial-with-image-mobile > .info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.testimonial-with-image-mobile > .info > img {
    width: 48px;
    height: 48px;
}

.testimonial-with-image-mobile > .info > h1 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.5rem;
    color: #FFFFFF;
    line-height: 32px;
}

.testimonial-with-image-mobile > .info > .person-info > h2 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    margin: 0px;
}

.testimonial-with-image-mobile > .info > .person-info > p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    margin: 0px;
}

.testimonial-with-image-mobile > .info > .person-info {
    display: flex;
    flex-direction: column;
}