.banner {
    padding: 16px;
    background-color: #EFF6FF; 
    color: #1E40AF;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.banner div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.banner img {
    width: 16px;
    height: 16px;
}

.banner h2 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0px;
    margin: 0px;
}

.banner p {
    font-weight: 400;
    font-family: "Inter";
    font-size: 0.875rem;
    margin: 0;
}

.success {
    background-color: #ECFDF5;
    color: #065F46;
}

.success img {
    width: 20px;
    height: 20px;
}

.warning {
    background-color: #FFFBEB;
    color: #92400E;
}

.warning img {
    width: 16px;
    height: 16px;
}

.error {
    background-color: #FEF2F2;
    color: #92400E;
}

.error h2 {
    font-weight: 700;
}

.error img {
    width: 20px;
    height: 20px;
}